@charset "utf-8";
/* CSS Document */
body {min-height: 100%;font-family: 'Microsoft JhengHei', 'Noto Sans TC', Arial, sans-serif;line-height: 1.6;letter-spacing: 0.5px;text-align: left;font-weight: normal;overflow-x: hidden;font-size: 16px;}
a {text-decoration: none;-webkit-transition: all 0.1s ease-in-out;-o-transition: all 0.1s ease-in-out;transition: all 0.1s ease-in-out;}
/*404*/
#bg-404{background-color: #F9FAFC!important;}
.wrapper-404 {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;-webkit-box-align: center;-ms-flex-align: center;align-items: center;max-width: 1070px;margin: 0 auto 5%;}
.wrapper-404 img{width: 80%;}
.error-text h1 {display: block;text-transform: uppercase;color: #0F4C83;font-size: 250%;font-weight: bolder;text-align: center;margin-top: 10px;}
.textbox {max-width: 800px;margin: 0 auto;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
.mcenter{display: block;margin-top: 30px;}
.textbox .btn{color: #0F4C82;margin: 0 0.2em;border-radius: 50px;background: #FEC130;font-weight: bold;padding: 16px 28px;font-size: 24px;-webkit-transition: width 0.6s, border-radius 0.6s, background 0.6s, -webkit-box-shadow 0.6s;transition: width 0.6s, border-radius 0.6s, background 0.6s, -webkit-box-shadow 0.6s;-o-transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s, -webkit-box-shadow 0.6s;}
.textbox .btn:hover{color: #0F4C82;box-shadow: 0 0 0 2px #0F4C82;}
@media screen and (max-width: 1050px){
.error-text h1 {font-size: 1.8rem;}
.mcenter {text-align: center;}
.textbox .btn{font-size: 1.25rem;}
}
@media screen and (max-width: 768px){
.wrapper-404 {margin: 65px auto 5%;}
}