@charset "utf-8";
/* CSS Document */
body {background: #fff!important;min-height: 100%;font-family: 'Microsoft JhengHei', 'Noto Sans TC', Arial, sans-serif;line-height: 1.6;letter-spacing: 0.5px;text-align: left;font-weight: normal;overflow-x: hidden;font-size: 16px;}
a {text-decoration: none;transition: all 0.1s ease-in-out;}
a:link {color: #232323;}
a:visited {color: #232323;}
a:active {color: #9C9C9C;}
h1,h3,h5,h6 {color: #232323;}
h2{font-size: 42px;color: #FFEB3B;}
.wrapper {width: 1500px;position: relative;margin: 0 auto;clear: both;zoom:1;}
.wrapper:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both; height: 0;}
@media screen and (max-width: 1280px) {.wrapper {width:95%;}}

/*index*/
.flex-container {max-width: 1300px;margin: 0 auto;display: flex;flex-direction: row;justify-content: space-around;flex-wrap: wrap;margin-bottom: 30px;}
.flex-item {position: relative;background: #fff;border: 1px solid #00A0DC;width: 23.5%;height: 360px;margin-top: 10px;padding-bottom: 5px;}
.flex-item:hover{border: 1px solid #FEC130;}
.flex-item .date{font-size: 12px;padding: 0 22px 8px;color: #0F4C83;position: absolute;bottom: 0;}  
.pic-item h3{padding: 0 22px;margin-top: 8px;font-size: 18px;text-align: justify;color: #194866;font-weight: 700;}
.pic-item img{display: block;width: 100%;min-height: 225px;max-height: 225px;object-fit: cover;}
.mb-pic img{display: none;}
.word-item h3{height: 150px;padding: 45px 22px 0px;font-size: 18px;text-align: justify;color: #194866;font-weight: 700;}
.word-item .desc{display: block;padding: 0 22px;color: #646464;font-size: 14px;text-align: justify;}
@media screen and (min-width: 1023px) and (max-width: 1280px) {
  .flex-item {height: 400px;}
}
@media screen and (max-width: 1024px) {
  .flex-item {width: 48.5%;}
  .pic-item img{max-height: 250px;min-height: 250px;}
  .pic-item h3{line-height: 1.4;}
}
@media screen and (max-width: 768px) {
  .flex-container{margin-bottom: 0px;}
  .flex-item {width: 98%;height: 120px;border: none;border-bottom: 1px solid rgba(100, 100, 100, 0.2);}
  .flex-item:hover{ border: none; border-bottom: 1px solid rgba(100, 100, 100, 0.2);}
  .pic-item .flex-order{display: flex;}
  .pic-item .pic{order: 3;}
  .pic-item .title{order: 1;width: 100%;}
  .word-item .desc{display: none;}
  .flex-item h3{font-size: 16px;padding: 0 15px 0 0;margin-top: 0px;}
  .flex-item .date{font-size: 10px;padding: 0 15px 10px 0;}
  #newsgrid .pic-item img{width: 280px;min-height: 110px;max-height: 90px;max-width: 146px;}
}
@media screen and (max-width: 480px) {
  .flex-item h3{line-height: 1.4;}
  .mb-submit .submit-text {padding: 4px 18px 4px 10px;}
  .flex-item .date{font-size: 10px;padding: 0 15px 4px 0;}
  .flex-item {height: 110px;}
  #newsgrid .pic-item img {width: 120px;min-height: 93px;}
}
@media screen and (max-width: 320px) {
#newsgrid .pic-item img {width: 100px;min-height: 70px;max-height: 70px;}
.flex-item .date {font-size: 10px;padding: 0 15px 3px 0;}
}
/*頁碼*/
.pagination {list-style: none;display: block;padding: 0;margin-top: 70px;margin-bottom: 70px;}
.pagination ul{text-align: center;}
.pagination li {display: inline-block;text-align: center;}
.pagination a {float: left;display: block;font-size: 16px;text-decoration: none;padding: 5px 12px;color: #646464;margin-left: -1px;border: 1px solid transparent;line-height: 1.5;}
.pagination a.active {cursor: default;}
.pagination a:active {outline: none;}
.pagination ul a {margin-left: 3px;padding: 0;width: 35px;height: 35px;line-height: 30px;border-radius: 100%;}
.pagination ul a:hover {color: #00A0DC;}
.pagination ul a.active, .pagination ul a:active {color: #00A0DC;}
.pagination .prev, .pagination .next{background-color: #E0E0E0;}
.pagination .prev:hover, .pagination .next:hover{background-color: #00A0DC;color: #fff;}
@media screen and (max-width: 480px) {
  .pagination ul a {margin-left: 2px;padding: 0;width: 26px;height: 26px;line-height: 20px;border-radius: 100%;}
}